<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore | HackHub</title>
    <link rel="stylesheet" href="..//styles/explore.css">
</head>
<body>
    <div class="container">
        <div class="box" onclick="window.location.href='https://mlh.io';">
            <img src="images/mlh-logo.png" alt="MLH Logo">
            <p>Major League Hacking (MLH)</p>
        </div>
        <div class="box" onclick="window.location.href='https://www.thelinuxfoundation.org';">
            <img src="images/Linux_Foundation.png" alt="Linux Foundation Logo">
            <p>Linux Foundation</p>
        </div>
        <div class="box" onclick="window.location.href='https://devpost.com/';">
            <img src="images/Devpost.jpeg" alt="Devpost Logo">
            <p>Devpost</p>
        </div>
        <div class="box" onclick="window.location.href='https://www.freecodecamp.org/;">
            <img src="images/FreeCodeCamp_logo.png" alt="Freecodecamp Logo">
            <p>Freecodecamp</p>
        </div>
    </div>
</body>
</html>