<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HackHub Connect with Developers</title>
    <link rel="stylesheet" href="../styles/hero.css">
</head>

<body>
    <header>
        <nav class="sticky-nav">
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#explore">Explore</a></li>
                <li><a href="#chatroom">Chat Room</a></li>
                <li><a href="#signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero">
        <div class="hero-content text-center">
            <img src="images/HackHub.jpg" alt="HackHub Logo">
        </div>
    </section>
    <div class="try-it-button text-center">
        <a href="#try-it">Try It</a>
    </div>
</body>

</html>